<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="btn-group pull-right" role="group">
        <%= link_to 'Download',
                    manager_server_disk_reports_path(params[:server_id], format: :pdf),
                    class: 'btn btn-success' %>
    </div>
      <h1>Disk Usage Information</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Used (mb)</th>
            <th>Total (mb)</th>
            <th>Date</th>
          </tr>
        </thead>
        <%= render @disk_reports %>
      </table>
    </div>
  </div>
</div>
