<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Disk Usage Information</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Number</th>
            <th>Activities</th>
            <th>Date</th>
          </tr>
        </thead>
        <%= render @process_reports %>
      </table>
    </div>
  </div>
</div>
