<div class="col-sm-6 col-md-4">
  <div class="card">
    <span class="label label-success pull-right">Activo</span>
    <h4><%= server.name %></h3>
    <div><b>LAST CONNECTION :</b><%= server.last_connection %></div>
    <div><b>CPU USAGE :</b><%#= server.last_connection %></div>
    <div><b>DISK USAGE :</b><%#= server.last_connection %></div>
    <div><b>PROCCESS RUNNING:</b><%#= server.last_connection %></div>
  </div>
</div>
