<div class="col-sm-6 col-md-4">
  <div class="card">
    <span class="label label-success pull-right">Activo</span>
    <h4><%= server.name %></h3>
    <div><b>LAST CONNECTION :</b> <%= server.last_connection %></div>
    <div><b>CPU USAGE :</b> 129 slak</div>
    <div><b>DISK USAGE :</b> 129 slak</div>
    <div><b>PROCCESS :</b> 129 slak</div>
  </div>
</div>
